*.suo
*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.vscode/
*.vs/
bin/
obj/
*.dll
*.pdb
*.fsi
*.fsproj.user
*.nupkg
packages/
appsettings.json
/wwwroot/Content/Stockportfolio.*
/wwwroot/Content/WebSharper.Core.JavaScript/
